@media screen and (max-width: 1220px) {
  body {
    width: 1220px
  }
}

body {
  background-color: #fff
}

.top_bnr {
  background-color: #f7f7f7;
  height: 420px;
  overflow: hidden;
  width: 960;
  margin-left: 240px
}

.top_bnr .banner {
  height: 419px;
  width: 100%;
  z-index: 0
}

.top_bnr .banner li {
  float: left;
  width: 100%
}

.top_bnr .banner li .pic {
  display: block;
  height: 419px;
  width: 100%
}

.top_wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}

.top_wrap .top_box {
  position: relative;
  width: 100%
}

.top_wrap .bnr_btn_wrap {
  position: relative;
  top: -232px;
  z-index: 15
}

.top_wrap .bnr_btn_wrap .bnr_btn {
  width: 100px;
  height: 44px;
  display: block;
  position: absolute;
  cursor: pointer;
  display: none
}

.top_wrap .bnr_btn_wrap .bnr_btn_left {
  left: 239px;
  background: url("http://i.meilishuo.net/css/images/welcome/bnr_btn_left1.png") no-repeat
}

.top_wrap .bnr_btn_wrap .bnr_btn_right {
  right: 0;
  background: url("http://i.meilishuo.net/css/images/welcome/bnr_btn_right1.png") no-repeat center right
}

.top_wrap .nav_attr {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  float: left;
  padding-left: 19px;
  padding-right: 19px;
  height: 572px;
  width: 200px;
  position: absolute;
  left: 0;
  top: -420px
}

.top_wrap .nav_attr li {
  border-bottom: 1px dotted #ccc;
  padding-top: 17px;
  padding-bottom: 10px
}

.top_wrap .nav_attr li .nav_tle {
  height: 18px;
  font-size: 16px
}

.top_wrap .nav_attr li .nav_tle a {
  color: #f69
}

.top_wrap .nav_attr li p {
  height: 44px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 5px;
  width: 100%
}

.top_wrap .nav_attr li p a {
  float: left;
  margin-right: 14px
}

.top_wrap .nav_attr .last {
  border: 0
}

.top_wrap .attr_box {
  width: 240px;
  z-index: 10;
  height: 574px;
  position: absolute;
  left: 0;
  top: -420px
}

.top_wrap .attr_box .sec_attr {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  float: left;
  height: 572px;
  width: 238px
}

.top_wrap .attr_box .sec_attr .list {
  position: relative;
  border-bottom: 1px dotted #ccc;
  margin-left: 20px;
  margin-right: 20px
}

.top_wrap .attr_box .sec_attr .list .nav_tle {
  height: 18px;
  font-size: 14px
}

.top_wrap .attr_box .sec_attr .list .nav_tle .nav_ico {
  float: left;
  height: 18px;
  width: 23px
}

.top_wrap .attr_box .sec_attr .list .nav_tle .logo1212 {
  float: left;
  width: 43px;
  height: 18px;
  background: url("http://i.meilishuo.net/css/images/meilishuo/logo12.png") no-repeat left top;
  background-size: auto 100%
}

.top_wrap .attr_box .sec_attr .list .nav_tle a {
  color: #f69;
  float: left;
  margin-right: 10px
}

.top_wrap .attr_box .sec_attr .list p.listP {
  height: 72px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  width: 190px;
  padding-top: 5px
}

.top_wrap .attr_box .sec_attr .list p.listP a {
  float: left;
  margin-right: 14px
}

.top_wrap .attr_box .sec_attr .list .corner {
  font-size: 14px;
  color: #999;
  position: absolute;
  right: -5px;
  top: 48px
}

.top_wrap .attr_box .sec_attr .list_cont {
  position: relative;
  z-index: 8;
  padding: 12px 0 6px
}

.top_wrap .attr_box .sec_attr .active {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  padding-left: 20px;
  margin-top: -1px
}

.top_wrap .attr_box .sec_attr .active .corner {
  color: #f69;
  right: 15px
}

.top_wrap .attr_box .sec_attr .active .list_cont {
  margin-right: -1px;
  border-right: 1px solid #fff
}

.top_wrap .attr_box .sec_attr .last {
  border-bottom: 0
}

.top_wrap .attr_box .sec_attr .list_cont_last {
  padding-bottom: 9px
}

.top_wrap .nav_list {
  display: none;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  padding-left: 20px;
  width: 330px;
  z-index: 4;
  padding-bottom: 10px;
  position: absolute;
  top: -1px;
  right: -352px
}

.top_wrap .nav_list h4 {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding-top: 12px
}

.top_wrap .nav_list p {
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%
}

.top_wrap .nav_list p a {
  float: left;
  margin-right: 14px;
  color: #666
}

.top_wrap .nav_list p a:hover {
  color: #f69
}

.top_wrap .round {
  width: 440px;
  position: absolute;
  right: 225px;
  top: -35px
}

.top_wrap .round .adType {
  text-align: center
}

.top_wrap .round .adType a {
  background-color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin-right: 22px;
  height: 10px;
  width: 10px
}

.top_wrap .round .adType a.current {
  background: 0;
  border: 3px solid #fff;
  margin-bottom: -4px;
  height: 12px;
  width: 12px
}

.top_wrap .bnr_box {
  height: 144px;
  width: 960px;
  position: absolute;
  right: 0;
  top: 9px;
  z-index: 1
}

.top_wrap .bnr_box .pic_attr li, .top_wrap .bnr_box .ads_one {
  float: left;
  overflow: hidden;
  height: 145px
}

.top_wrap .bnr_box .pic_attr {
  float: left;
  overflow: hidden;
  height: 145px
}

.top_wrap .bnr_box .pic_attr li {
  margin-left: 13px;
  overflow: hidden;
  display: inline;
  width: 227px;
  width: 182px;
  margin-left: 10px
}

.top_wrap .bnr_box .pic_attr img {
  height: 145px
}

.top_wrap .bnr_box .ads_one {
  width: 198px
}

.ads_banner {
  margin: 40px 0 0
}

.cmn_title {
  *zoom: 1;
  height: 18px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden
}

.cmn_title:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0
}

.cmn_title h3 {
  float: left
}

.cmn_title p {
  float: right
}

.cmn_title p a {
  color: #999
}

.cmn_title p a:hover {
  color: #f69
}

.show {
  display: block
}

.hide {
  display: none
}

.footer .foot_con {
  width: 1200px;
  margin-left: auto;
  margin-right: auto
}

.groupBox {
  float: left;
  margin-right: 15px;
  width: 228px
}

.groupBox .groupCon {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 14px;
  width: 226px;
  position: relative;
  overflow: hidden
}

.groupBox .groupCon .gc_title {
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  padding: 10px 13px 0
}

.groupBox .groupCon .gc_title h4 {
  font-size: 14px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px
}

.groupBox .groupCon .gc_title p {
  font-size: 14px;
  color: #999;
  float: right
}

.groupBox .groupCon .s_tle {
  height: 56px;
  line-height: 56px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 175px;
  margin-left: 13px;
  font-size: 14px;
  background: url("http://i.meilishuo.net/css/images/shop/shop_tle.png") no-repeat 0 20px;
  padding-left: 25px
}

.groupBox .groupCon .btn, .groupBox .groupCon .followed {
  float: right;
  height: 20px;
  line-height: 20px;
  width: 64px
}

.groupBox .groupCon .picBox {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px
}

.groupBox .groupCon .imgBox {
  margin-top: 5px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 204px;
  background: url("http://i.meilishuo.net/css/images/person/pg_bg1.png") no-repeat bottom
}

.groupBox .groupCon .imgBox .minpic, .groupBox .groupCon .imgBox span {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 4px;
  margin-top: 4px
}

.groupBox .groupCon .imgBox .maxpic {
  margin-top: 4px;
  height: 200px;
  width: 200px
}

.groupBox .groupCon .infoBox {
  background: #ffecef;
  margin-top: 8px;
  overflow: hidden;
  padding: 8px 13px
}

.groupBox .groupCon .lookBox {
  height: 20px;
  padding: 13px
}

.groupBox .groupCon .lookBox .tex {
  color: #999;
  line-height: 20px
}

.groupBox .groupCon .oldBox {
  height: 24px;
  padding: 11px 13px
}

.groupBox .groupCon .oldBox .tex {
  line-height: 24px;
  margin-left: 6px
}

.groupBox .groupCon .oldBox .btn, .groupBox .groupCon .oldBox .followed {
  float: right;
  line-height: 20px
}

.groupBox .groupCon .oldBox img {
  float: left
}

.groupBox.last {
  margin-right: 0
}

.words {
  border-right: 1px dotted #ccc;
  padding: 0 13px
}

.auto_wrap {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}

.prompt_browser {
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80000000, endcolorstr=#80000000);
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  color: #fff;
  z-index: 500;
  text-align: center
}

.prompt_browser:hover {
  color: #fff
}

.prompt_browser a {
  text-decoration: underline;
  color: #fff
}

.prompt_browser a:hover {
  color: #fff
}

.prompt_browser a:hover {
  color: #f69
}

.prompt_browser .ie_red {
  color: #f69
}

.prompt_browser .ie, .prompt_browser .chrome, .prompt_browser .sougo {
  padding: 10px 18px;
  background: url("http://i.meilishuo.net/css/images/welcome/browser.png") no-repeat
}

.prompt_browser .ie {
  background-position: 0 0
}

.prompt_browser .chrome {
  background-position: 0 -46px
}

.prompt_browser .sougo {
  background-position: 0 -91px
}

.module {
  margin-top: 40px
}

.module .tit h2 {
  float: left;
  font-size: 20px;
  background-color: #fff
}

.module .tit h2 .subtit {
  font-weight: normal;
  font-size: 12px;
  color: #999;
  padding: 0 5px
}

.module .tit .operate {
  background: url('http://d02.res.meilishuo.net/pic/_o/f4/11/53efcb9f82efde8ac756a9af37db_30_230.cg.png') no-repeat 101% -177px;
  padding: 3px 0;
  padding-right: 10px;
  color: #999;
  text-align: right;
  border-bottom: 1px solid #ededed
}

.module .cont {
  *zoom: 1;
  margin-top: 20px;
  margin-left: -20px
}

.module .cont:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0
}

.module .cont a {
  float: left
}

.module .cont a img {
  width: 100%;
  height: 100%
}

.debut .cont .item {
  margin-left: 20px;
  width: 386px;
  float: left
}

.debut .cont .item a {
  width: 124px;
  height: 124px;
  padding-bottom: 2px
}

.debut .cont .item .first {
  width: 260px;
  height: 376px;
  padding-right: 2px
}

.fashion .tit .operate {
  background: 0
}

.fashion .cont a {
  margin-left: 20px;
  width: 183px
}

.focus {
  display: none
}

.focus .tit .operate {
  background: 0
}

.focus .cont a {
  margin-left: 20px;
  width: 285px;
  height: 174px
}

.fashion_new .item, .guess_like .item, .newshop .item {
  margin-left: 20px;
  padding-bottom: 38px;
  width: 224px;
  float: left
}

.fashion_new .item .pic, .guess_like .item .pic, .newshop .item .pic {
  overflow: hidden
}

.fashion_new .item .pic a, .guess_like .item .pic a, .newshop .item .pic a {
  height: 340px
}

.fashion_new .item .desc, .guess_like .item .desc, .newshop .item .desc {
  margin-top: 15px;
  line-height: 20px
}

.fashion_new .item .desc .price, .guess_like .item .desc .price, .newshop .item .desc .price {
  color: #f69;
  font-size: 18px
}

.fashion_new .item .desc .like, .guess_like .item .desc .like, .newshop .item .desc .like {
  padding-left: 20px;
  color: #999;
  float: right;
  background: url('http://d02.res.meilishuo.net/pic/_o/f4/11/53efcb9f82efde8ac756a9af37db_30_230.cg.png') no-repeat 0 -23px
}

.fashion_new .item .desc .tit, .guess_like .item .desc .tit, .newshop .item .desc .tit {
  color: #333
}

.fashion_new .item .desc .tit a, .guess_like .item .desc .tit a, .newshop .item .desc .tit a {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.guess_like {
  margin-top: 20px
}

.guess_like .tit {
  overflow: hidden
}

.guess_like .tit a {
  width: 100%;
  cursor: pointer;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.guess_like .tit .operate {
  background-position: 1178px -202px;
  padding-right: 0
}

.desire .item, .beauty .item {
  margin-left: 20px;
  width: 386px;
  float: left
}

.desire .item a, .beauty .item a {
  height: 252px;
  float: none
}

.desire .item .pic, .beauty .item .pic {
  overflow: hidden
}

.desire .item .desc, .beauty .item .desc {
  margin-top: 15px;
  line-height: 24px
}

.desire .item .desc .price, .beauty .item .desc .price {
  color: #f69
}

.desire .item .desc .price i, .beauty .item .desc .price i {
  font-size: 18px;
  font-style: normal
}

.desire .item .desc .ori-price, .beauty .item .desc .ori-price {
  padding-left: 25px;
  text-decoration: line-through;
  color: #999
}

.desire .item .desc .like, .beauty .item .desc .like {
  padding-left: 20px;
  color: #999;
  float: right;
  background: url('http://d02.res.meilishuo.net/pic/_o/f4/11/53efcb9f82efde8ac756a9af37db_30_230.cg.png') no-repeat 0 -23px
}

.desire .item .desc .tit, .beauty .item .desc .tit {
  font-size: 14px;
  color: #333
}

.desire .item .desc .subtit, .beauty .item .desc .subtit {
  color: #999;
  height: 50px;
  overflow: hidden
}

.desire .item .desc .tag, .beauty .item .desc .tag {
  background: url('http://d02.res.meilishuo.net/pic/_o/f4/11/53efcb9f82efde8ac756a9af37db_30_230.cg.png') no-repeat 0 1px;
  padding-left: 40px
}

.desire .item .desc .tag a, .beauty .item .desc .tag a {
  color: #f69;
  padding-right: 10px
}

.beauty .item a {
  height: 386px
}

.recommend_shop .cont .tab, .hifan .cont .tab {
  text-align: center
}

.recommend_shop .cont .tab div, .hifan .cont .tab div {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 16px;
  margin: 20px;
  margin-top: 0;
  cursor: pointer
}

.recommend_shop .cont .tab .active, .hifan .cont .tab .active {
  color: #f69;
  border-bottom: 2px solid #f69
}

.recommend_shop .cont .tab-inner, .hifan .cont .tab-inner {
  *zoom: 1
}

.recommend_shop .cont .tab-inner:after, .hifan .cont .tab-inner:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0
}

.recommend_shop .cont .tab-inner .tab-item, .hifan .cont .tab-inner .tab-item {
  display: none
}

.recommend_shop .cont .tab-inner .active, .hifan .cont .tab-inner .active {
  display: block
}

.recommend_shop .cont .tab-inner .item, .hifan .cont .tab-inner .item {
  position: relative;
  margin-left: 20px;
  width: 386px;
  float: left
}

.recommend_shop .cont .tab-inner .item img {
  width: 386px;
  height: 333px
}

.recommend_shop .cont .tab-inner .item .mask {
  display: none
}

.recommend_shop .cont .tab-inner .item .mask .add, .recommend_shop .cont .tab-inner .item .mask .go, .recommend_shop .cont .tab-inner .item .mask .unadd {
  position: absolute;
  width: 120px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #fff;
  color: #fff;
  left: 132px;
  top: 110px;
  text-align: center;
  font-size: 16px;
  cursor: pointer
}

.recommend_shop .cont .tab-inner .item .mask .add a, .recommend_shop .cont .tab-inner .item .mask .go a, .recommend_shop .cont .tab-inner .item .mask .unadd a {
  display: block;
  width: 100%;
  color: #fff
}

.recommend_shop .cont .tab-inner .item .mask .go {
  top: 180px
}

.recommend_shop .cont .tab-inner .item .mask .go a:hover, .recommend_shop .cont .tab-inner .item .mask .add:hover, .recommend_shop .cont .tab-inner .item .mask .unadd:hover {
  background-color: #fff;
  color: #333
}

.recommend_shop .cont .tab-inner .item .mask .bg {
  font-size: 14px;
  position: absolute;
  top: 0;
  background-color: #333;
  opacity: .5;
  filter: alpha(opacity=50);
  width: 386px;
  height: 333px
}

.recommend_shop .cont .tab-inner .item .desc {
  padding-top: 15px;
  text-align: center;
  line-height: 25px
}

.recommend_shop .cont .tab-inner .item .desc a {
  float: none
}

.recommend_shop .cont .tab-inner .item .desc .tit {
  font-size: 22px;
  color: #333;
  height: 25px;
  overflow: hidden
}

.recommend_shop .cont .tab-inner .item .desc .subtit {
  color: #999;
  height: 25px;
  overflow: hidden
}

.recommend_shop .cont .tab-inner .item .desc i {
  font-style: normal;
  color: #f69;
  padding-right: 20px
}

.recommend_shop .cont .tab-inner .item .desc .last {
  padding-right: 0
}

.hifan .cont .tab-inner .item img {
  width: 386px;
  height: 230px
}

.newshop .tit .operate {
  background-image: none;
  padding: 10px 0
}

.newshop .cont .item {
  padding-bottom: 20px
}

.alpha {
  margin-left: 0
}

.omega {
  margin-right: 0
}

;
